.kinda-banner {
    display: flex;
    position: relative;
    flex-direction: column;
  }
  
  .kinda-banner__box {
    text-align: center;
  }
  
  @media only screen and (max-width: 749px) {
    .kinda-banner--content-align-mobile-right .kinda-banner__box {
      text-align: right;
    }
  
    .kinda-banner--content-align-mobile-left .kinda-banner__box {
      text-align: left;
    }
  }
  
  @media only screen and (min-width: 750px) {
    .kinda-banner--content-align-right .kinda-banner__box {
      text-align: right;
    }
  
    .kinda-banner--content-align-left .kinda-banner__box {
      text-align: left;
    }
  }

  /* Added media queries for left long align */
  @media only screen and (min-width: 1000px) {
   
   .kinda-banner--content-wide .kinda-banner__box {
    max-width: 80rem;
   }
  }

  @media only screen and (min-width: 800px) and (max-width:999px) {

  }

  @media only screen and (max-width:749) {

  }

/* Added media query for mid width stylings - large*/
  @media only screen and (min-width: 1000px) {
  
    .kinda-banner--content-align-left.kinda-banner--desktop-transparent:not(.kinda-banner--content-wide) .kinda-banner__box,
    .kinda-banner--content-align-right.kinda-banner--desktop-transparent .kinda-banner__box,
    .kinda-banner--medium.kinda-banner--desktop-transparent .kinda-banner__box {

     max-width: 53rem;
    }
  }

  /* medium */
  @media only screen and (min-width: 800px) and (max-width:999px) {
    .kinda-banner--content-align-left.kinda-banner--desktop-transparent .kinda-banner__box,
    .kinda-banner--content-align-right.kinda-banner--desktop-transparent .kinda-banner__box,
    .kinda-banner--medium.kinda-banner--desktop-transparent .kinda-banner__box {
      max-width: 25rem;

    }
  }

    /* small */
    @media only screen and (max-width:749) {
        .kinda-banner--content-align-left.kinda-banner--desktop-transparent .kinda-banner__box,
        .kinda-banner--content-align-right.kinda-banner--desktop-transparent .kinda-banner__box,
        .kinda-banner--medium.kinda-banner--desktop-transparent .kinda-banner__box {
          max-width: 25rem;
    
        }
      }

  @media screen and (max-width: 749px) {
    .kinda-banner--small.kinda-banner--mobile-bottom:not(.kinda-banner--adapt) .kinda-banner__media,
    .kinda-banner--small.kinda-banner--stacked:not(.kinda-banner--mobile-bottom):not(.kinda-banner--adapt) > .kinda-banner__media {
      height: 18rem;

    }
  
    .kinda-banner--medium.kinda-banner--mobile-bottom:not(.kinda-banner--adapt) .kinda-banner__media,
    .kinda-banner--medium.kinda-banner--stacked:not(.kinda-banner--mobile-bottom):not(.kinda-banner--adapt) > .kinda-banner__media {
      height: 34rem;
    }
  
    .kinda-banner--large.kinda-banner--mobile-bottom:not(.kinda-banner--adapt) .kinda-banner__media,
    .kinda-banner--large.kinda-banner--stacked:not(.kinda-banner--mobile-bottom):not(.kinda-banner--adapt) > .kinda-banner__media {
      height: 39rem;
    }
  
    .kinda-banner--small:not(.kinda-banner--mobile-bottom):not(.kinda-banner--adapt) .kinda-banner__content {
      min-height: 28rem;
    }
  
    .kinda-banner--medium:not(.kinda-banner--mobile-bottom):not(.kinda-banner--adapt) .kinda-banner__content {
      min-height: 34rem;
    }
  
    .kinda-banner--large:not(.kinda-banner--mobile-bottom):not(.kinda-banner--adapt) .kinda-banner__content {
      min-height: 39rem;
    }
  }
  
  @media screen and (min-width: 750px) {
    .kinda-banner {
      flex-direction: row;
    }
  
    .kinda-banner--small:not(.kinda-banner--adapt) {
      min-height: 42rem;
    }
  
    .kinda-banner--medium:not(.kinda-banner--adapt) {
      min-height: 56rem;
    }
  
    .kinda-banner--large:not(.kinda-banner--adapt) {
      min-height: 72rem;
    }
  
    .kinda-banner__content.kinda-banner__content--top-left {
      align-items: flex-start;
      justify-content: flex-start;
    }
  
    .kinda-banner__content.kinda-banner__content--top-center {
      align-items: flex-start;
      justify-content: center;
    }
  
    .kinda-banner__content.kinda-banner__content--top-right {
      align-items: flex-start;
      justify-content: flex-end;
    }
  
    .kinda-banner__content.kinda-banner__content--middle-left {
      align-items: center;
      justify-content: flex-start;
    }
  
    .kinda-banner__content.kinda-banner__content--middle-center {
      align-items: center;
      justify-content: center;
    }
  
    .kinda-banner__content.kinda-banner__content--middle-right {
      align-items: center;
      justify-content: flex-end;
    }
  
    .kinda-banner__content.kinda-banner__content--bottom-left {
      align-items: flex-end;
      justify-content: flex-start;
    }
  
    .kinda-banner__content.kinda-banner__content--bottom-center {
      align-items: flex-end;
      justify-content: center;
    }
  
    .kinda-banner__content.kinda-banner__content--bottom-right {
      align-items: flex-end;
      justify-content: flex-end;
    }
  }
  
  @media screen and (max-width: 749px) {
    .kinda-banner:not(.kinda-banner--stacked) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  
    .kinda-banner--stacked {
      height: auto;
    }
  
    .kinda-banner--stacked .kinda-banner__media {
      flex-direction: column;
    }
  }
  
  .kinda-banner__media {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  
  .kinda-banner__media-half {
    width: 50%;
  }
  
  .kinda-banner__media-half + .kinda-banner__media-half {
    right: 0;
    left: auto;
  }
  
  @media screen and (max-width: 749px) {
    .kinda-banner--stacked .kinda-banner__media-half {
      width: 100%;
    }
  
    .kinda-banner--stacked .kinda-banner__media-half + .kinda-banner__media-half {
      order: 1;
    }
  }
  
  @media screen and (min-width: 750px) {
    .kinda-banner__media {
      height: 100%;
    }
  }
  
  .kinda-banner--adapt,
  .kinda-banner--adapt_image.kinda-banner--mobile-bottom .kinda-banner__media:not(.placeholder) {
    height: auto;
  }
  
  @media screen and (max-width: 749px) {
    .kinda-banner--mobile-bottom .kinda-banner__media,
    .kinda-banner--stacked:not(.kinda-banner--mobile-bottom) .kinda-banner__media {
      position: relative;
    }
  
    .kinda-banner--stacked.kinda-banner--adapt .kinda-banner__content {
      height: auto;
    }
  
    .kinda-banner:not(.kinda-banner--mobile-bottom):not(.email-signup-kinda-banner) .kinda-banner__box {
      background: transparent;
      --color-foreground: 255, 255, 255;
      --color-button: 255, 255, 255;
      --color-button-text: 0, 0, 0;
    }
  
    .kinda-banner:not(.kinda-banner--mobile-bottom) .kinda-banner__box {
      border: none;
      border-radius: 0;
      box-shadow: none;
    }
  
    .kinda-banner:not(.kinda-banner--mobile-bottom) .button--secondary {
      --color-button: 255, 255, 255;
      --color-button-text: 255, 255, 255;
      --alpha-button-background: 0;
    }
  
    .kinda-banner--stacked:not(.kinda-banner--mobile-bottom):not(.kinda-banner--adapt)
      .kinda-banner__content {
      position: absolute;
      height: auto;
    }
  
    .kinda-banner--stacked.kinda-banner--adapt:not(.kinda-banner--mobile-bottom) .kinda-banner__content {
      max-height: 100%;
      overflow: hidden;
      position: absolute;
    }
  
    .kinda-banner--stacked:not(.kinda-banner--adapt) .kinda-banner__media {
      position: relative;
    }
  
    .kinda-banner::before {
      display: none !important;
    }
  
    .kinda-banner--stacked .kinda-banner__media-image-half {
      width: 100%;
    }
  }
  
  .kinda-banner__content {
    padding: 0;
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }
  
  @media screen and (min-width: 750px) {
    .kinda-banner__content {
padding-left: 5rem;
padding-top: 5rem;
padding-right: 5rem;
padding-bottom: 5rem;
}
  
    .kinda-banner__content--top-left {
      align-items: flex-start;
      justify-content: flex-start;
    }
  
    .kinda-banner__content--top-center {
      align-items: flex-start;
      justify-content: center;
    }
  
    .kinda-banner__content--top-right {
      align-items: flex-start;
      justify-content: flex-end;
    }
  
    .kinda-banner__content--middle-left {
      align-items: center;
      justify-content: flex-start;
    }
  
    .kinda-banner__content--middle-center {
      align-items: center;
      justify-content: center;
    }
  
    .kinda-banner__content--middle-right {
      align-items: center;
      justify-content: flex-end;
    }
  
    .kinda-banner__content--bottom-left {
      align-items: flex-end;
      justify-content: flex-start;
    }
  
    .kinda-banner__content--bottom-center {
      align-items: flex-end;
      justify-content: center;
    }
  
    .kinda-banner__content--bottom-right {
      align-items: flex-end;
      justify-content: flex-end;
    }
  }
  
  @media screen and (max-width: 749px) {
    .kinda-banner--mobile-bottom:not(.kinda-banner--stacked) .kinda-banner__content {
      order: 2;
    }
  
    .kinda-banner:not(.kinda-banner--mobile-bottom) .field__input {
      background-color: transparent;
    }
  }
  
  .kinda-banner__box {
    padding: 4rem 3.5rem;
    position: relative;
    height: fit-content;
    align-items: center;
    text-align: center;
    width: 100%;
    word-wrap: break-word;
    z-index: 1;
  }
  
  @media screen and (min-width: 750px) {
    .kinda-banner--desktop-transparent .kinda-banner__box {
      background: transparent;
      /* --color-foreground: 255, 255, 255; */
      /* --color-button: 255, 255, 255; */
      /* --color-button-text: 0, 0, 0; */
      max-width: 55rem;
      border: none;
      border-radius: 0;
      box-shadow: none;
    }

    .kinda-banner--desktop-transparent:not(.kinda-banner--content-wide) .kinda-banner__box {
   
      max-width: 55rem;
 
    }
  
    .kinda-banner--desktop-transparent .button--secondary {
      --color-button: 255, 255, 255;
      --color-button-text: 255, 255, 255;
      --alpha-button-background: 0;
    }
  
    .kinda-banner--desktop-transparent .content-container:after {
      display: none;
    }
  }
  
  @media screen and (max-width: 749px) {
    .kinda-banner--mobile-bottom::after,
    .kinda-banner--mobile-bottom .kinda-banner__media::after {
      display: none;
    }
  }
  
  .kinda-banner::after,
  .kinda-banner__media::after {
    content: '';
    position: absolute;
    top: 0;
    background: #000000;
    opacity: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
  
  .kinda-banner__box > * + .kinda-banner__text {
    margin-top: 1.5rem;
  }
  
  @media screen and (min-width: 750px) {
    .kinda-banner__box > * + .kinda-banner__text {
      margin-top: 2rem;
    }
  }
  
  .kinda-banner__box > * + * {
    margin-top: 1rem;
  }
  
  .kinda-banner__box > *:first-child {
    margin-top: 0;
  }
  
  @media screen and (max-width: 749px) {
    .kinda-banner--stacked .kinda-banner__box {
      width: 100%;
    }
  }
  
  @media screen and (min-width: 750px) {
    .kinda-banner__box {
      width: auto;
      max-width: 71rem;
      min-width: 45rem;
    }
  }
  
  @media screen and (min-width: 1400px) {
    .kinda-banner__box {
      max-width: 90rem;
    }
  }
  
  .kinda-banner__heading {
    margin-bottom: 0;
  }
  
  .kinda-banner__box .kinda-banner__heading + * {
    margin-top: 1rem;
  }
  
  .kinda-banner__buttons {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 45rem;
    word-break: break-word;
  }
  
  @media screen and (max-width: 749px) {
    .kinda-banner--content-align-mobile-right .kinda-banner__buttons--multiple {
      justify-content: flex-end;
    }
  
    .kinda-banner--content-align-mobile-center .kinda-banner__buttons--multiple > * {
      flex-grow: 1;
      min-width: 22rem;
    }
  }
  
  @media screen and (min-width: 750px) {
    .kinda-banner--content-align-center .kinda-banner__buttons--multiple > * {
      flex-grow: 1;
      min-width: 22rem;
    }
  
    .kinda-banner--content-align-right .kinda-banner__buttons--multiple {
      justify-content: flex-end;
    }
  }
  
  .kinda-banner__box > * + .kinda-banner__buttons {
    margin-top: 2rem;
  }
  